HepMC3
analysis/output/
analysis/*_cxx.d
analysis/*_cxx.so
analysis/*_cxx_ACLiC_dict_rdict.pcm
input-flux.root
*/*/*.status
example/run_genie_dune_fd.sh
example/run_genie_dune_nd.sh
example/run_genie_ANL_SF.sh
build_genie_v3_4_0_INCL.sh
genie_env_v3_4_0_INCL.sh
global_vars_INCL.sh
example/run_genie_0_3GeV_G18.sh
example/run_genie_0_5GeV_G18.sh
example/run_genie_0_8GeV_G18.sh
example/run_genie_1GeV_G18.sh
example/run_genie_3GeV_G18.sh
GiBUU2023/
genie_env.sh
GENIE_v3_2_0_G4/
GENIE_v3_4_0_G4/
build_genie_v3_2_0_G4.sh
build_genie_v3_4_0_G4.sh
genie_env_v3_2_0_G4.sh
genie_env_v3_4_0_G4.sh
build_nuisance_uB_CC1mu2p.sh
setup_generators_nuisance_uB_CC1mu2p.sh
FlatTreeAnalyzer
GENIE_v3_2_0
GENIE_v3_4_0_RS
GENIE_v3_0_6
Playground
Generator
Reweight
GiBUU
nuwro
nuisance
nusystematics
nuisance_CC1mu2p
build_genie_v3_0_6.sh
build_genie_v3_4_0_RS.sh
genie_env_v3_4_0_RS.sh
genie_env_v3_0_6.sh
genie_env_v3_2_0.sh
Kirsty_NuWro_MicroBooNE_CC1mu1p.comp.xml
GENIE_v3_0_6_G4/
Reweight_v3_4_0_G4/
build_genie_v3_0_6_G4.sh
build_nuisance_G4.sh
genie_env_v3_0_6_G4.sh
nuisance_G4/
setup_generators_G4.sh
